.deps
autom4te.cache
build
*.log
compile
config.status
configure
depcomp
aclocal.m4
install-sh
Makefile
Makefile.in
missing
src/generated
gsoap-2.8
ltmain.sh
config.sub
config.guess
m4
*.o
.dirstamp
configure~
libtool
subprojects*
py-compile
test-driver
onvifmgr
onvifmgr_settings.ini
